@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --modal-duration: 1s;
  --primary-color: #30336b;
  --secondary-color: #be2edd;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  transition: transform 1s ease;
}
body.show-nav {
  /* this will display the nav once the toggle btn is clicked  */
  transform: translateX(200px);
  /* this has to be the same with the nav width*/
}

/* NAVBAR STYLING */
nav {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: translateX(-100%);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  z-index: 100;
}

nav .logo {
  text-align: center;
  padding: 30px 0;
  margin: auto;
}

nav img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}
nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* STYLING THE MAIN PAGE */

/* HEADER SECTION */
header {
  color: #fff;
  background-color: var(--primary-color);
  position: relative;
  text-align: center;
  width: 100vw;
  min-height: 20vh;
  padding: 2.5rem 0.9375rem;
}
header p {
  margin: 30px 0;
}
button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
}
button:focus {
  outline: none;
}

.toggle {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

.container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

/* MODAL SECTION */

.modal-container {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.modal-container.show-modal {
  display: block;
}
.modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background-color: var(--primary-color);
  padding: 15px;
  color: #fff;
}

.modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}
.modal-content {
  padding: 20px;
}
.form-control {
  margin: 15px 0;
  position: relative;
  padding-bottom: 20px;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  color: var(--error-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* i have to control the functionalities with JS */
.form-control.error small{
  visibility: visible;
}

.form-control.success input{
border-color: var(--success-color);
}
.form-control.error input{
border-color: var(--error-color);
}
/***********************/

.modal-form label {
  display: block;
  margin-bottom: 5px;
}
.modal-form .form-input {
  padding: 8px;
  width: 100%;
}
.close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
